div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    color: white;
    animation-name: CSS;
    animation-duration: 2s;
}


@keyframes CSS {

    0%{
        transform: translateX(0);
    }
    50%{
        transform: translate(650px);
    }

    100%{
        transform: translateX(0);
    }
}

