div{
    width: 400px;
    height: 300px;
    background-color: blue;
    border: 3px solid black;
    color: white;
    font-size: 2em;
    text-align: center;


    transition-duration: 2s;
    transition-delay: 1s;
    transition-property: none;
transition-timing-function: cubic-bezier(1, 0, 0, 1);

transition: 2s,1s,1,0,0,1;
}

div:hover{
    width: 650px;
    height: 400px;
    background-color: chartreuse;
letter-spacing: 20px;
border-radius: 50%;
}  